/* Titulo de todas as abas */

.tittle {
    background-color: rgb(73, 73, 209);
    text-align: center;
    border-radius: 30px;
    margin-top: 5px;
}

/* Pagina Principal */

.fundo {
    background-image: url(img/raze-valorant-pc-games-2021-2880x1800-5550.jpg);
}

.lista {
    font-size: 40px;
    padding: 15px;
    color: rgb(0, 0, 0);
}

/* Botão da Pagina Principal */

.botaoCurriculo {
    position: relative;
    top: 40px;
    left: 100px;
    font-size: 30px;

}

.botaoLoja {
    position: relative;
    top: 40px;
    left: 100px;
    font-size: 30px;
}

.botaoformcomcss {
    position: relative;
    top: 40px;
    left: 100px;
    font-size: 30px;
}

.botaoformulario {
    position: relative;
    top: 40px;
    left: 100px;
    font-size: 30px;
}

.botaolayoutsimples {
    position: relative;
    top: 40px;
    left: 100px;
    font-size: 30px;
}

/* Curriculo */

.imgcurriculo {
    float: left;
}

/* Loja de Carros */

.subTittle {
    text-align: center;
    background-color: rgb(88, 112, 216);
    border-radius: 20px;
}

/* Roda Pé */

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

/* Layout Simples */

.imgmochila {
    float: left;
    width: 130px;
    height: 100px;
}

.conteudo1 {
    margin-left: 10px;
    float: left;
    width: 150px;
    border: solid pink 3px;
}

.conteudo2 {
    margin-left: 10px;
    border: solid sandybrown 3px;
    width: 800px;
    display: inline-block;
}

.voltarportfolio {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

/* Margens */

.subtittlelay {
    display: inline-block;
    width: 100px;
}

#fundo {
    border: solid red 5px;
    width: 1400px;
    height: 400px;
}

/* Formulario com CSS */

.formcadastro {
    background-color:
}

.cadastro {
    color: darkred;
    font-size: 50px;
    font-family: arial;
    display: inline-block;
}

.cadastroDeProdutos {
    background: gray;
}